#chat {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  height: 88vh;
}

#participants-div {
  border-right: 1px solid rgb(226, 226, 226);
  background-color: rgb(241, 248, 245);
}

#divider {
  opacity: 40%;
}

#participants-title {
  font-size: 20px;
  padding-left: 20px;
}

.participant-div {
  display: flex;
  padding-left: 15px;
  margin-bottom: 5px;
}

.participant-nickname {
  padding-top: 10px;
  padding-left: 10px;
}

.user-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  margin-top: 13px;
  overflow: hidden; 
}

#message-section {
  display: grid;
  gap: 0px;
  grid-template-rows: auto 40px; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 0px;
  height: 85vh;
  width: 100%;
}

#chat-body {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  max-height: calc(100% - 40px); 
}

.message-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.message-container::-webkit-scrollbar {
  width: 0px;
}

#chat-footer {
  height: 10vh; 
  display: flex;
  padding-left: 10px;
  padding-right: 30px;
  flex-direction: row;
}

#chat-body .message-container::-webkit-scrollbar {
  width: 0px;
}

#chat-body .message-container {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

#chat-body .message-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.message, .message-you {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.message-you {
  justify-content: flex-end;
}

.message-author {
  padding-left: 7px;
  padding-bottom: 2px;
  font-weight: 500;
  font-size: 13px;
  opacity: 85%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.message-content {
  min-height: 25px;
  max-width: 500px;
  min-width: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  background-color: #dadada;
  color: rgb(28, 28, 28);
  justify-content: flex-start;
  padding-left: 10px;
}

.message-content p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-time-div {
  display: flex;
  flex-direction: column;
}

.message-time-info {
  display: flex;
  font-size: 11px;
  padding-top: 2px;
  color: #798489;
}

.message-time {
  width: 100%;
  text-align: right;
  padding-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0px;
  font-size: 1em;
  outline: none;
  padding: 5px; 
  padding-left: 20px;
  padding-right: 20px;
  border: none; 
  height: 30px;
  border-radius: 20px; 
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#send-message-button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 70%;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  transition: 0.3s ease;
}

#send-message-button:hover {
  opacity: 100%;
}

.participants-overlay {
  position: fixed;
  top: 100px;
  width: 100%;
  height: 50px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1); 
  background-color: rgb(241, 248, 245);
  z-index: 100;
}

.show-p-button {
  position: fixed;
  z-index: 1000;
  top: 80px;
  box-shadow: rgba(96, 96, 96, 0.08) 0px 3px 6px, rgba(123, 123, 123, 0.2) 0px 2px 4px;
  background-color: white;
  width: 100%;
  height: 50px;
}

.participants-container {
  position: absolute;
  padding-top: 50px; 
  right: 0;
  width: 300px; 
  z-index: 50;
  height: 85%;
  box-shadow: rgba(33, 33, 33, 0.12) 0px 3px 6px, rgba(50, 50, 50, 0.2) 0px 2px 4px;
  overflow-y: auto;
  display: none;
  background-color: rgb(241, 248, 245);
}

.show {
  display: block;
}

.show-participants-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #message-section {
    width: 100%;
  }
  #chat {
    display: block;
  }
}
