#my-stats-table td {
  border: 1px;
}

.my-stats-cat {
  background-color: rgb(241, 248, 245);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}