#home-page-div {
  margin-top: 60px;
}

.news-slider {
  width: 100%;
  overflow-x: hidden;
}

#home-text {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#home-page-div .text-p {
  text-align: center;
  opacity: 90%;
  padding-left: 30px;
  padding-right: 30px;
}

#home-text {
  font-size: 30px;
  font-weight: 500;
}

