#nutrition-page-title {
  font-size: 30px;
}

#mealplan-table {
  border-collapse: separate; 
  width: 100%;
  margin-top: 30px;
  border-spacing: 20px; 
}

.meal-data {
  text-align: center;
}

.day-cell {
  text-align: center;
  background-color: rgb(241, 248, 245);
}

.mp-title {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.day-cell, .meal-title {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.meal-title {
  text-align: left;
  color: rgb(53, 53, 53);
  background-color: rgba(239, 244, 238, 0.9);
}

#mealplan-table-div {
  padding-left: 80px;
  padding-right: 80px;
}

#mealplan-bg {
  height: 75vh;
  overflow-y: hidden; 
}

#mealplan-table, #mealplan-table th, #mealplan-table td {
  border: 0px;
  border-radius: 2px;
}

#meal-cell {
  opacity: 0%;;
}

#header td, .meal-title {
  font-size: 17px;
}

#header td {
  font-weight: 500;
}

#download-link {
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 70%;
  transition: 0.3s ease;
  height: 35px;
  width: 35px;
  position: absolute;
  right: 110px;
}

#download-link:hover {
  text-decoration: underline;
  opacity: 100%;
}

.meal-data {
  font-style: italic;
}

.nutrition-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  box-shadow: rgba(97, 97, 97, 0.07) 0px 3px 3px, rgba(135, 135, 135, 0.2) 0px 1px 2px;
}

.nutrition-banner img {
  height: 48px;
  width: 48px;
  margin-left: 10px;
}