.workout-styles-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.workout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workout-style-p {
  color: black;
  font-family: 'Montserrat', sans-serif;
}
