#stats-no-data {
  text-align: center;
  justify-content: center;
}

.scoreboard-container td, .cell-title-head {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.stats-table-score .cell-title-head {
  background-color: rgb(241, 248, 245);
  font-weight: 500;
}