<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ChatroomServiceTestSuite">
    <test thread-count="5" name="ChatroomService">
        <classes>
            <class name="com.fithub.services.chat.test.suites.ChatroomServiceTest"/>
        </classes>
    </test>
</suite>